@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  /* font-family satırını sildik çünkü Tailwind config'deki 'font-sans' (Apercu) devreye girecek */
}

/* OTOMATİK BAŞLIK AYARI */
/* Sitedeki tüm h1, h2, h3, h4, h5, h6 etiketleri otomatik olarak Neue Montreal olur */
h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-neue-montreal);
  font-weight: normal; /* Fontun kendi kalınlığını kullanması için */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}